// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

:root {
    --background-color: rgb(254, 234, 195);
    --primary-color: orange;
    --box-background: white;
}

[data-theme="dark_mode"] {
--background-color: #786b6b;
--primary-color: black;
--box-background: #786b6b;
}

.light_mode--card{
    background-color: white;
}

.dark_mode--card{
    background-color: #e7dede;
    
}

h2 .form-label{
    .light_mode--text {
        color: orange;
    }
    .dark_mode--text{
        color: black;
    }
}


.input__weight{
    font-size: 20px;
}

.theme_container{
    display: flex;
    bottom: 5%;
    right: 3%;
    position: absolute;
    max-width: 100%;
    width: 200px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    svg{
        font-size: 40px;
    }
    .form-select{
        max-width: 100%;
        font-size: 25px;
        font-weight: bold;
    }
}
